[Unit]
Description=StreamPi
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /opt/StreamPi/streampi.py /opt/StreamPi/config.json 2>&1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
