[Unit]
Description=StreamPi
After=network.target

[Service]
ExecStart=/usr/bin/python -u /opt/StreamPi/streampi.py /opt/StreamPi/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
